<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678032286354-9sr1e4jmhuacat483op3prgkh0adjcl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678032286354-9sr1e4jmhuacat483op3prgkh0adjcl3</string>
	<key>API_KEY</key>
	<string>AIzaSyCQDpnNr4jm0LhXMVUyATGFjFOXSYhJD8k</string>
	<key>GCM_SENDER_ID</key>
	<string>678032286354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smallblueidea.thetomorrowplanner</string>
	<key>PROJECT_ID</key>
	<string>the-tomorrow-planner-b9b73</string>
	<key>STORAGE_BUCKET</key>
	<string>the-tomorrow-planner-b9b73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678032286354:ios:9f4bbae0741ef8e6</string>
	<key>DATABASE_URL</key>
	<string>https://the-tomorrow-planner-b9b73.firebaseio.com</string>
</dict>
</plist>